html{
    scroll-behavior: smooth;
}

/*lar ikke oss scrolle i x-retning. låser den slik at den kun kan scrolles nedover,
og holder contentet innenfor rammene.*/
html,body,footer{
    overflow-x: hidden;
}
/* Setter grunnleggende standarder for alle elementer */
* {
	margin: 0; /* Fjerner standard marger for alle elementer */
	padding: 0; /* Fjerner standard padding */
	box-sizing: border-box; /* Inkluderer padding og border i elementers totale bredde/høyde */
	font-family: Moderat, Avenir, Helvetica, Arial, sans-serif; /* Setter standard fontfamilie */
    list-style: none; /* Fjerner standard punktliste på lister */
}

/* Stiler for lenker */
a {
    color: black; 
	text-decoration: none; 
}

/* Stiler for hovedoverskrift (h1), brukt i "title"-seksjonen */
h1 {
    font-size: 3rem;
    text-align: center; /* Sentraliserer teksten */
}

/* Standard stil for body, angir bakgrunnsfarge */
body {
    background-color: #F1E4E8; 
}

/* Stiler for seksjonsoverskrifter (h2) */
h2 {
    margin-top: 0.313rem;
    margin-bottom: 0.625rem;
    font-size: 2rem;
    text-align: center; 
}

/* Stiler for underoverskrifter (h3) i mindre seksjoner */
h3 {
    font-size: 1.75rem;
    margin-bottom: 0.9rem;
    text-align: center;
}

/* Stiler for mindre underoverskrifter (h4) i artikler */
h4 {
    font-size: 1rem;
    margin-bottom: 0.2rem;
    text-align: center;
    font-weight: bold; /* Øker vekten på teksten for bedre synlighet */
}

/* Øverste del av headeren, organiserer logo, søk, og meny */
.header-up {
    display: flex; /* Bruker flex for å justere elementer horisontalt */
    justify-content: space-between; /* Fordeler plass mellom logo og ikoner */
    padding: 2% 15%; /* Polstring for å holde elementer innenfor kanten */
}

/* Container for elementer på høyre side av headeren */
.header-right {
    display: flex;
    gap: 30px; /* Avstand mellom søkefeltet og menyikonet */
    position: relative; /* Muliggjør posisjonering av underliggende elementer */
}


/* Stiler for søkefunksjonen i headeren */
.header-search {
    display: flex; /* Justerer elementer horisontalt */
    align-items: center; /* Sentraliserer elementer vertikalt */
    position: relative; /* For å posisjonere søkeikon og input relativt til container */
}

/* Tekststil for søketiketten */
.header-search p {
    font-weight: 700; /* Gjør teksten fet for synlighet */
    text-transform: uppercase; /* Endrer tekst til store bokstaver */
}

/* Stil for søkeikon */
.search-icon {
    width: 20px; /* Setter bredde på ikonet */
    cursor: pointer; /* Angir at elementet er klikkbart */
}

/* Stiler for søkefeltet (skjult som standard) */
.search-input {
    position: absolute;
    right: -300px;  /* Plasserer inputfeltet utenfor skjermen til høyre */
    opacity: 0; /* Gjør feltet usynlig til det aktiveres */
    width: 250px;
    padding: 8px;
    border: 1px solid black; /* Legger til en sort ramme */
    border-radius: 4px; /* Runde hjørner for inputfeltet */
    transition: all 0.4s ease; /* Glatt overgang når feltet vises */
    font-size: 1rem;
    background: #fff; /* Hvit bakgrunnsfarge for inputfeltet */
    z-index: -1; /* Legger feltet under andre elementer som standard */
}

/* Aktivert søkefelt som skyves inn fra høyre */
.header-search.active .search-input {
    right: 0;  /* Skyver feltet inn i visningen */
    opacity: 1; /* Gjør feltet synlig */
    z-index: 1; /* Legger feltet over andre elementer */
}

/* Stiler for navigasjonsmenyen i nedre del av headeren */
.header-link {
    padding: 0 10px;
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
}

.header-link:hover {
    border-bottom-color: white;
}


.menu-icon {
    width: 20px;
    cursor: pointer;
}
.header-up {
	display: flex;
	justify-content: space-between;
	padding: 2% 15%;
	background-color: #2D3142;
	position: sticky;
	top: 0;
	z-index: 1000; /* Ensure it stays on top */
}


.header-right {
	display: flex;
	gap: 30px;
    position: relative;
}

.header-search,
.header-menu {
	display: flex;
	gap: 10px;
	align-items: center;
}

.header-search,
.header-menu p {
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

.header-bottom {
	padding: 2% 15%;
	background: #2D3142;
}

ion-icon {
	color: white;
}
.menu-icon.hamburger,
.menu-icon.close {
    font-size: 20px; /* For hamburger-knappen og lukk-knappen*/ /* KOMMENTAR SOM IKKE SKAL MED I ENDELIG KODE
    SER UT TIL AT DEN HAR EN MAKS-GRENSE PÅ 20PX TF?*/
  }

.logo-header img {  /*justerer størrelse på logo i header*/
    width: 90px;
	height: auto;
}

.menu-icon {
	width: 20px;
}

.close {
	display: none;
}


/* Full-Screen Menu Styling */
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #2D3142;
	display: none;
	align-items: center;
	z-index: 999;
	padding-top: 1rem; /*Push menu content down to not overlap with header*/

}

.menu.show {
	display: flex;
    
}

.menu-items {
	text-align: left;
	margin-left: 15%;
}


/* making the menu items list under eachother and making them  white for good visibility.
 also giving them reasonable sizes in rem, not px for better accessability*/

.menu-items a {
	display: block;
	margin: 20px 0;
	font-size: 2rem;
	font-weight: 700;
    color: white;
	
}
/*  it sections the class to keep its almost centered position*/
 .article-wrapper{
	padding: 50px 15%;
}


.video-player {
	width: 100%;
	height: 40vw;
    border: 8px solid #EF8354;
}

.main-content {
	margin-top: 5%;
    width: 100%;
}

.title {
	font-size: 3rem;

}

.title .headline-para {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2.25rem;
	margin-top: 0.313rem;
    text-align: center;
}


a {
	text-decoration: none;
}


.metadata-list {
	display: flex;
	flex-wrap: wrap; /*Learnt to use flex-wrap from https://www.w3schools.com/css/css3_flexbox_container.asp*/
	margin-top: 50px;
    margin-right: auto;
	position: relative;
	flex: 100%;
    width: 100%;
    hyphens: auto;
}
.metadata-list-item {
	border-top: 0.0575rem solid black;
	flex: 1 0 calc(43%);
	font-size: 1.125rem;
	line-height: 1.5;
	margin-right: 1.25rem;
	padding-bottom: 1.75rem;
	padding-top: 1.25rem;
	width: calc(25% - 1.25rem);
    text-align: center;
}
span {
	font-size: 1.25rem;
	font-weight: 700;
}
.article-faq {
	margin-bottom: 20px;
	padding: 30px 10%;
	border-bottom: 1px solid #e2e2e2;
}

.article-wrapper-heading {
	width: 62%;
	margin: 0 auto;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 40px;
}

.article-wrapper-para {
	font-size: 24px;
	line-height: 36px;
    text-align: center;
}

.accordion-h2 {
	display: flex;
	align-items: center;
	gap: 35px;
	cursor: pointer;
}

.accordion-btn {
	background-color: #EF8354;
	background-image: url(https://www.oslomet.no/build/images/plus-icon.svg);
	background-position: 50%;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	display: inline-block;
	height: 2.5rem;
	min-width: 2.5rem;
	width: 2.5rem;
}

.accordion-text {
	display: none; /* Initially hidden */
	margin-bottom: 30px;
	overflow: hidden;
	padding-left: 75px;
	padding-right: 120px;
	padding-top: 35px;
	position: relative;
	transition: height 0.3s cubic-bezier(0.24, 0.59, 0.38, 0.94);
}


.accordion-text-para {
	font-family: inherit;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
}
.bold-p{
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.a-list {
	font-family: Moderat, Avenir, Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
	list-style: none;
	margin-top: 18px;
    hyphens: auto;
}

.a-list li {
	margin-bottom: 0.625rem;
	padding-left: 0.9375rem;
	position: relative;
	list-style: disc;
}

.a-list li a {
	
	font-size: 1.125rem;
	font-weight: 700;
	text-decoration: none;
	transition: border 0.1s cubic-bezier(0.24, 0.59, 0.38, 0.94);
}

.a-list li a span {
    text-decoration: underline #EF8354;
	padding-bottom: 0.0625rem;
}

.para-2,
.para-3 {
	margin-top: 20px;
}
.para-3-links{
    text-decoration: underline #EF8354;
    font-weight: 700;
}

.accordion-h2.active .accordion-btn {
	background-image: url(https://www.oslomet.no/build/images/minus-icon.svg);
}

/* For expanding and collapsing */
.accordion-h2.active + .accordion-text {
	display: block;
}

.study-plan {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.study-plan h2 {	
	font-size: 20px;
    background-color: #f4f4f4;
    padding: 8px 8px 8px 20px;
}

.study-plan h3 {
	font-size: 18px;
}


.study-plan h2,.study-plan h3 {
    margin-bottom: 10px;
    color: #333;
}

.semester {
    margin-bottom: 10%;
}

.subjects {
    display: flex;
    flex:50%;
	flex-wrap: wrap;
	flex-direction: row;
    justify-content: 30%;
    margin: 5px;
}

.subject {
    text-align: left;
	width: 25%;
    margin-right: 20px;
	border-top: 1px solid black;
    padding-top: 15px;
}


.study-plan a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    position: relative;
	font-size: 14px;
}

.study-plan a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #EF8354;
    bottom: 0;
    left: 0;
}

.study-plan span {
    font-size: 14px;
    color: #666;
}

.no-padding {
	padding: 35px 0;
}

.flex {
	display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.semester-headline {
	font-size: 18px;
	color: #222222;
}

.OtherStudies-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 100%;
    padding: 2% 0;
    margin: 0 auto;
}

.OtherStudies-column {
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    overflow: hidden;
    cursor: pointer;
    min-width: 200px;
	flex: 1 1 calc(33.333% - 2%);
	margin-bottom: 2%;
}

.OtherStudies-column:hover {
    transform: scale(1.05);
}

.OtherStudies-img {
    width: 100%;
    height: auto;
}

.OtherStudies-cards {
    padding: 1rem;
    background-color: #fff;
    hyphens: auto;
}
/* Styling for elementer i "OtherStudies" seksjonen */


.OtherStudies-title {
    font-weight: bold;
    font-size: 1.2rem;
}


.OtherStudies-faculty {
    font-weight: 600;
    color: #5b7588;
    margin-bottom: 0.5em;
    font-size: 1rem;
}

.OtherStudies-explanation {
    font-size: 1rem;
    line-height: 1.2;
    color: #333;
    margin-bottom: 0.6rem;
    height: 9.375rem; /* Fast høyde for beskrivende tekst */
}

/* Skjuler elementer som har denne klassen */
.hidden {
    display: none;
}

/* "Show More" knapp: Størrelse, farge og hover-effekt */
.show-more-btn {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    background-color: #EF8354;
    border: none;
    transition: background-color 0.3s ease;
}

.show-more-btn:hover {
    background-color: #955c22; /* Mørkere bakgrunn ved hover */
}


/* Study-Stories-seksjon og container */

.Study-Stories-section {
    width: 100vw; 
    margin-bottom: 2%; 
    padding: 8% 0; 
    background-color: #f6f6f3;
    position: relative; /* Bryter ut fra rammen */
    left: 50%; 
    transform: translateX(-50%); /* Sentrerer */
    text-align: center; /* Sentraliserer innhold */
}

.Study-Stories-container {
    width: 100%; 
    margin: 0 auto; /* Sentraliserer */
    padding: 0 4%; 
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Avstand mellom artikler */
}

/* Artikler i Study-Stories-seksjonen */

.Study-Stories-article {
  width: 100%;
  flex: 1 1 calc(50% - 20px); /* To kolonner med mellomrom */
  height: 100%;
  padding: 2%;
  color: black;
  transition-duration: 0.5s;
}

.Study-Stories-article:hover {
  background-color: #70858462; /* Hover-effekt */
}

/* Styling for linkene og titlene */
.Study-Stories-article a {
  color: black;
  text-decoration: none;
}

.Study-Stories-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.Study-Stories-caption {
  font-size: 1rem;
}

/* Knapper og lenker */

.study-stories-button {
    display: inline-block;
    width: fit-content;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #EF8354; 
    border: none;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 2rem;
}

.study-stories-button:hover {
    background-color: #955c22; /* Mørkere ved hover */
}

.bold-underline-link {
    display: block;
    text-align: center;
    text-decoration: underline darkorange;
    font-size: 1.2em;
    font-weight: bold;
    transition: transform 0.2s;
}

.bold-underline-link:hover {
    text-decoration: underline black;
    font-weight: bolder;
    transform: scale(1.05);
}

/* Bilder og andre seksjoner */

.hr-short {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.medium-image {
    width: 130px;
    height: auto;
    margin-right: 20px;
    display: block;
}

.OtherStudies-row {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 355px;
    margin: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    overflow: hidden;
    cursor: pointer;
    background-color: white;
}

.OtherStudies-row:hover {
    transform: scale(1.05); /* Hover-effekt på rad */
}

/* Artikkel-innhold i figuren */
.article-inside-figure {
    margin-left: none;
    max-width: 80%;
    flex-wrap: wrap;
}

.article-inside-figure h3, h4 {
    margin: none;
    color: #333;
}

.article-inside-figure p {
    margin: none;
    color: #555;
    font-size: 0.9em;
}

/* Justerer sentreringen av h2, p, button i .study-info */
.study-info h2, p, button {
    align-items: center;
}


/* Footer-styling */

/* Bakgrunn, padding og full bredde for footer */
.footer {
    background: #2D3142;
    padding-top: 50px; 
    width: 100%; 
    margin: 0; 
}

/* Footer-container: Sentralisering og fleksibel layout */
.footer-container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Footer-innhold: Sentralisert tekst og padding */
.footer-content {
    padding: 5%;
    color: white; 
    text-align: center;
}

/* Footer-liste: Sentraliserer og fjerner punktmerking */
.footer-list {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

/* Hover-effekt på listeelementene (linje under ved hover) */
.footer-list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #EF8354;
    transition-duration: 0.5s;
}

.footer-list li:hover::before {
    width: 70px; /* Øker linjebredden på hover */
}

/* Sosiale ikoner: Sentralisering og hover-effekt */
.footer-social-icons {
    text-align: center;
    padding: 0;
}

.footer-social-icons li {
    display: inline-block;
    text-align: center;
    padding: 0.313rem;
    transition: transform 0.3s ease;
}

.footer-social-icons li:hover {
    transform: scale(1.2); /* Større ikoner på hover */
    color: #EF8354;
}

/* Footer-lenker: Farge og hover-effekt */
.footer-link {
    color: white;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #EF8354; /* Oransje farge ved hover */
}

/* Bunnlinje i footer: Oransje bakgrunn og sentralisert tekst */
.footer-bottom-bar {
    background: #EF8354;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
    width: 100%;
}

/* Bunnlinje-tekst: Fet og sentrert */
.footer-bottom-bar p {
    font-weight: bold;
    margin: 0;
    font-size: 1rem;
    padding: 0.45rem;
}

/* Accessibility-styling */

/* Sentraliserer hovedinnhold og bilder relatert til tilgjengelighet */
.accessibility-main {
    display: block;
    max-width: 100%;
    text-align: center;
}

.accessibility-figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.accessibility-img {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* Tilpasser bildestørrelse for tilgjengelighet */
.accessibility-pic-1 {
    width: 60%;
    margin: 0 auto;
    height: auto;
}

.accessibility-img figcaption {
    text-align: center;
    font-size: smaller;
    padding-bottom: 2rem;
    width: 75%;
}



/* GitPage CSS */

/* Hovedinnhold: Sentraliserer tekst og setter full bredde */
.gitpage-main {
    display: block;
    max-width: 100%;
    text-align: center;
}

/* Sentraliserer avsnitt med 65% bredde og bunnmarg */
.gitpage-p-main {
    margin: 0 auto 2rem;
    width: 65%;
}

/* Flexbox-layout for figurer, vertikal og sentrert */
.gitpage-figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Sentraliserer bilde */
.gitpage-img {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

/* Bildestørrelse, 95% bredde og 60% høyde */
.gitpage-pic-1 {
    width: 95%;
    margin: 0 auto;
    height: 60%;
}

/* Sentraliserer bildetekst med mindre skrift */
.gitpage-img figcaption {
    text-align: center;
    font-size: smaller;
    padding-bottom: 2rem;
    width: 75%;
}

/* Liste uten punktmerking, sentrert */
.gitpage-list {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

/* Sentraliserer listeelementer med 10px mellomrom */
.gitpage-list li {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}


/* Justerer padding for artikler for bedre plassutnyttelse på små skjermer */
@media(max-width:450px) {
    .article-wrapper {
        padding: 50px 5%; 
    }
    .video-player {
        height: 50vw; /* Justerer videohøyden for å holde proporsjoner på små skjermer */
    }
}

/* Reduserer søkeboksens bredde når den er aktiv på små skjermer */
@media(max-width:500px){
    .header-search.active .search-input {
        width: 8.125rem; 
    }
}

/* Reduserer padding i headeren for å gi bedre plass på små skjermer */
@media(max-width:650px){
    .header-up, .header-bottom {
        padding: 3%;
    } 
    .menu-items{
        margin-left: 5%; /* Sentraliserer menyen for små skjermer ved å justere margin */
    }
}

/* Endrer footer-layout til vertikal kolonne for bedre plassutnyttelse */
@media (max-width:700px){
    .footer-container, .footer-content {
        flex-direction: column;
        flex: 100%;
        justify-content: center;
        align-items: center;
    }
}

/* Sentraliserer tekst i hovedinnholdet for bedre lesbarhet på små skjermer */
@media (max-width:800px){
    .main-content {
        text-align: center;
    }

    .subjects {
        flex-direction: column; /* Endrer layout for fagene til en vertikal liste */
        flex: 100%; /* Sørger for at hvert fag tar opp hele bredden */
    }
}

/* Øker padding for teksten i FAQ-seksjonen for bedre plass på små skjermer */
@media(max-width:850px){
    .accordion-text {
        padding-left: 25px;
        padding-right: 0px;
    }

    .subject {
        width: 100%; /* Sørger for at hvert fag tar opp hele bredden i en vertikal layout */
    }

    .Study-Stories-container {
        flex-direction: column; /* Endrer layouten for studenthistorier til vertikal kolonne */
    }
}

/* Stabler bilder relatert til tilgjengelighet vertikalt på små skjermer */
@media (max-width: 768px) {
    .accessibility-img {
        flex-direction: column;
    }
}
