@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

header * {
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    left: 0 ;
    width: 100%;
    padding: 20px 120px;
    background: black;
}

header nav {
    text-align: right;
    padding-right: 180px;
}
nav a {
    color: white;
    text-decoration: none;
    padding-right: 40px;
    font-weight: 500;
}
