
footer{
    text-align: left;
    padding: 0px;
    margin: 0px;
}
li {
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
}
.footer-logo{
    align-items: center;
}
.footer-info{
    padding: 0px;
    flex: 50%;
}
.footer-info-action{
    list-style-position: initial;
    list-style: none;
}
.fia-link_black{
    color: black;
    text-decoration: none;
}
.footer-linker{
    padding: 0px;
    flex: 50%;;
}
.f-link_black{
    color: black;
    text-decoration: none;
}
.fs-link_black{
    color: black;
    text-decoration: none;
}
.footer-container{
    display: flex;
    flex-direction: row;
}
@media (footer-container) {/*Mobile*/
    .footer-container{max-width: 800px;}
  }