@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box; /* Corrected syntax */
}

/* Fixed header styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    z-index: 1000; /* Ensure header is on top */
    border-bottom: 2px solid white;
    background: transparent;
}


nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: large;
    transition: 0.3s ease-in-out;
    margin-right: 50px;
}

nav a:hover {
    color: aqua;
}

/* Main section layout */
main {
    margin-top: 0px;
    width: 100%;
}

/* Activity section styling */
.activity-section {
    background-image: url(./Images/f1background.jpeg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    width: 100%; /* Full width */
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
}
